.job-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Minimum width of 300px, fill available space */
    gap: 2rem; 
    padding-left: 2rem;
    padding-right: 2rem;
}